<% if flash[:notice] %>
  <div class="flash">
   <%= flash[:notice] %>
  </div>
<% end %>

<div class="field">
 <p><strong>Title:  </strong><%= @book.title %></p>
 <P><strong>body:  </strong><%=@book.body %></P>
</div>

<p><%= link_to "Edit", edit_book_path(@book.id) %> |
<a class="back" href="/books">Back</a></p>
